In [1]:
import psycopg2

In [2]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('''create table mystaff.employees
(id int primary key not null,
first_name varchar(25) not null,
last_name varchar(25) not null,
department varchar(25) not null,
phone varchar(25),
address varchar(25),
salary int);''')

DuplicateTable: relation "employees" already exists

因為重複執行，所以會出現錯誤，但實質上已經出現在資料庫中！

檢查資料庫中是否有這張表：
1. <code>\dt mystaff.*</code>利用這語法就可以檢查資料庫中是否有這張資料表。

In [5]:
connection.commit()

In [6]:
connection.close()

檢查這張表裡頭的資訊：
1. <code>\d mystaff.employees</code>就可以看到這張表裡頭的所有資訊。