In [1]:
import psycopg2

In [2]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("insert into mystaff.employees (id,first_name,last_name,department,phone,address,salary) \
 values (6, 'Jane', 'Sanders', 'HR', '0123452289', '6st Street, Miami', 61000);")

In [6]:
cursor.execute("select * from mystaff.employees;")

In [7]:
records = cursor.fetchall()

In [8]:
for i in records:
    print(i)

(1, 'John', 'Smith', 'Sales', '0123456789', '1st Street, Miami', 50000)
(4, 'Karen', 'Willson', 'Logistics', '0823556785', '4th Street, Las Vegas', 41000)
(5, 'Emma', 'Richard', 'Marketing', '0423453580', '5th Street, Denver', 40000)
(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)
(3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)
(6, 'Jane', 'Sanders', 'HR', '0123452289', '6st Street, Miami', 61000)

在 In[4] 的地方，其實已經被加進 table 中，但在真正的資料庫裡並沒有看到。

In [9]:
cursor = connection.cursor()

In [10]:
connection.rollback()

用 rollback 的方式，就會回到上一次 commit 的地方。

In [11]:
cursor.execute("select * from mystaff.employees;")

In [12]:
records = cursor.fetchall()

In [13]:
for i in records:
    print(i)

(1, 'John', 'Smith', 'Sales', '0123456789', '1st Street, Miami', 50000)
(4, 'Karen', 'Willson', 'Logistics', '0823556785', '4th Street, Las Vegas', 41000)
(5, 'Emma', 'Richard', 'Marketing', '0423453580', '5th Street, Denver', 40000)
(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)
(3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)

在 rollback 後，就會發現，6這筆資料已經不見了。

In [14]:
cursor.execute("insert into mystaff.employees (id,first_name,last_name,department,phone,address,salary) \
 values (6, 'Jane', 'Sanders', 'HR', '0123452289', '6st Street, Miami', 61000);")

In [15]:
connection.commit()

只要有了 commit 後，這個動作就會被儲存起來。

In [16]:
connection.close()