In [1]:
import psycopg2

In [2]:
f = open('employees.txt')

In [3]:
records = []

In [4]:
for i in f.readlines():
    records.append(i.split('/ '))

In [5]:
records

[['1',
  'Luke',
  'Phillip',
  'Sales',
  '121921900',
  '1st Address, Miami',
  '52000\n'],
 ['2', 'Jack', 'Darren', 'IT', '12918210', '2nd Address, Miami', '52200\n'],
 ['3', 'Ken', 'Wood', 'IT', '20192101', '3rd Address, Miami', '58000\n'],
 ['4',
  'John',
  'Wilson',
  'Marketing',
  '31312311',
  '4th Address, Miami',
  '58700\n'],
 ['5',
  'Emily',
  'Larson',
  'Marketing',
  '43423434',
  '5th Address, Miami',
  '60000\n'],
 ['6',
  'Anna',
  'Sullivan',
  'Sales',
  '323232291',
  '6th Address, Miami',
  '54000\n'],
 ['7',
  'Richard',
  'Smith',
  'Logistics',
  '1277177910',
  '7th Address, Miami',
  '56000\n'],
 ['8',
  'Ronnie',
  'Moore',
  'Sales',
  '3691919186',
  '8th Address, Miami',
  '49000\n'],
 ['9',
  'Benjamin',
  'Drake',
  'IT',
  '215557299',
  '9th Address, Miami',
  '53000\n'],
 ['10',
  'Wayne',
  'Barker',
  'Logistics',
  '3266617791',
  '10th Address, Miami',
  '59500']]

In [6]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

在 PSQL 上執行：
1. <code>select * from xxx.xxx</code>第一個 xxx 代表的是資料庫名稱，第二個 xxx 代表的是資料表的名稱，也就是說要看在這個資料庫的資料表內是不是有資料。
2. <code>delete from xxx.xxx</code>第一個 xxx 代表的是資料庫名稱，第二個 xxx 代表的是資料表的名稱，也就是說要刪除在這個資料表內的所有資料。

In [7]:
cursor = connection.cursor()

In [8]:
try:
    for i in records:
        cursor.execute("insert into mystaff.employees (id,first_name,last_name,department,phone,address,salary) values (%s,%s,%s,%s,%s,%s,%s);",(i[0],i[1],i[2],i[3],i[4],i[5],i[6]))

except psycopg2.Error as err:
    print("An error was generated while inserting the records!")
    
else:
    print("Records inserted successfully!\n")

An error was generated while inserting the records!

在 <code>for i in records</code>的 index，分別代表：
1. <code>i[0]</code>代表的是 id。
2. <code>i[1]</code>代表的是 first_name。
3. <code>i[2]</code>代表的是 last_name。
4. <code>i[3]</code>代表的是 department。
5. <code>i[4]</code>代表的是 phone。
6. <code>i[5]</code>代表的是 address。
7. <code>i[6]</code>代表的是 salary。

會一行一行讀寫，所以會對應到不同的欄位。

In [9]:
connection.commit()

In [10]:
connection.close()