In [1]:
import psycopg2

In [2]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("insert into mystaff.employees (id,first_name,last_name,department,phone,address,salary) \
 values (2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000), \
        (3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000);")

In [5]:
connection.commit()

In [6]:
connection.close()

In [7]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

In [11]:
cursor = connection.cursor()

In [12]:
cursor.execute("select * from mystaff.employees where salary > 50000;")

In [13]:
record = cursor.fetchall()

fetchall 代表是取得所有的結果列，並以 list 資料型態回傳。

In [14]:
record

[(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000),
 (3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)]

In [15]:
for records in record:
    print(records)

(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)
(3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)

In [16]:
cursor.execute("select * from mystaff.employees where salary between 40000 and 45000;")

In [17]:
record = cursor.fetchall()

In [18]:
record

[(4,
  'Karen',
  'Willson',
  'Logistics',
  '0823556785',
  '4th Street, Las Vegas',
  41000),
 (5,
  'Emma',
  'Richard',
  'Marketing',
  '0423453580',
  '5th Street, Denver',
  40000)]

In [19]:
for records in record:
    print(records)

(4, 'Karen', 'Willson', 'Logistics', '0823556785', '4th Street, Las Vegas', 41000)
(5, 'Emma', 'Richard', 'Marketing', '0423453580', '5th Street, Denver', 40000)

In [20]:
cursor.execute("select * from mystaff.employees where department in ('sales','IT');")

In [21]:
record = cursor.fetchall()

In [22]:
for records in record:
    print(records)

(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)

In [23]:
cursor.execute("select * from mystaff.employees where department in ('Sales','IT');")

找到部門是 Sales 和 IT 。

In [24]:
record = cursor.fetchall()

In [25]:
for records in record:
    print(records)

(1, 'John', 'Smith', 'Sales', '0123456789', '1st Street, Miami', 50000)
(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)
(3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)

In [26]:
cursor.execute("select * from mystaff.employees where last_name like 'D%';")

找到 last_name 是以 D 開頭的。
<code>D%</code>代表的是，D開頭，後面 0個，1個或多個字元都可以。

In [27]:
record = cursor.fetchall()

In [28]:
for records in record:
    print(records)

(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)
(3, 'Emily', 'Davids', 'Sales', '0123456999', '3rd Street, LA', 59000)