In [1]:
import psycopg2

In [2]:
try:
    connection = psycopg2.connect(database = 'staff',user = 'louis',password = 'louis830630',host = '127.0.0.1',port = '5432')

except psycopg2.Error as err:
    print('An error was generated!')

else:
    print('Connect to database was successful!')

Connect to database was successful!

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("select * from mystaff.employees where salary between 40000 and 55000;")

In [5]:
records = cursor.fetchall()

In [6]:
for i in records:
    print(i)

(1, 'John', 'Smith', 'Sales', '0123456789', '1st Street, Miami', 50000)
(4, 'Karen', 'Willson', 'Logistics', '0823556785', '4th Street, Las Vegas', 41000)
(5, 'Emma', 'Richard', 'Marketing', '0423453580', '5th Street, Denver', 40000)
(2, 'Jack', 'Doe', 'IT', '0213456742', '2nd Street, NY', 55000)

In [7]:
records = cursor.fetchone()

In [8]:
for i in records:
    print(i)

TypeError: 'NoneType' object is not iterable

因為上面已經回傳完了，所以在 fetchone 的地方，就沒有東西可以回傳，所以就會顯示錯誤。

In [9]:
cursor.execute("select * from mystaff.employees where salary between 40000 and 55000;")

In [10]:
records = cursor.fetchone()

In [11]:
for i in records:
    print(i)

1
John
Smith
Sales
0123456789
1st Street, Miami
50000

只有第一個符合這個條件地會被回傳。

In [12]:
records = cursor.fetchone()

In [13]:
for i in records:
    print(i)

4
Karen
Willson
Logistics
0823556785
4th Street, Las Vegas
41000

第一個被回傳之後，就會回傳第二個。

In [14]:
records = cursor.fetchone()

In [15]:
for i in records:
    print(i)

5
Emma
Richard
Marketing
0423453580
5th Street, Denver
40000

再來就會回傳第三個。

In [16]:
records = cursor.fetchone()

In [17]:
for i in records:
    print(i)

2
Jack
Doe
IT
0213456742
2nd Street, NY
55000

再來就會回傳第四個。

In [18]:
records = cursor.fetchone()

In [19]:
for i in records:
    print(i)

TypeError: 'NoneType' object is not iterable

因為都回傳完了，所以就會出現錯誤。

In [20]:
cursor.execute("select * from mystaff.employees where salary between 40000 and 55000;")

In [21]:
records = cursor.fetchmany(size = 2)

In [22]:
for i in records:
    print(i)

(1, 'John', 'Smith', 'Sales', '0123456789', '1st Street, Miami', 50000)
(4, 'Karen', 'Willson', 'Logistics', '0823556785', '4th Street, Las Vegas', 41000)

用 fetchmany ，可以指定要回傳的數量，也就是在()內的 size，打上2，就會回傳前兩個符合。